In [18]:
import os
os.getcwd()
os.chdir('/Users/chidam/Desktop/')

In [19]:
import pandas as pd
df=pd.read_csv('/Users/chidam/Desktop/train_set_airbnb.csv')

In [20]:
df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,6/28/10,2.010000e+13,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,5/25/11,2.010000e+13,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,9/28/10,2.010000e+13,8/2/10,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,12/5/11,2.010000e+13,9/8/12,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,9/14/10,2.010000e+13,2/18/10,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [21]:
len(df)

213451

In [17]:
# import numpy as np
# tfa = np.vstack(df.timestamp_first_active.astype(str).apply(lambda x: list(map(int, [x[:4],x[4:6],x[6:8],x[8:10],x[10:12],x[12:14]]))).values)
# df['tfa_year'] = tfa[:,0]
# df['tfa_month'] = tfa[:,1]
# df['tfa_day'] = tfa[:,2]
# df_all = df_all.drop(['timestamp_first_active'], axis=1)

In [27]:
import datetime
pd.to_datetime('6/28/10', format='%m/%d/%y')

Timestamp('2010-06-28 00:00:00')

In [31]:
pd.to_datetime('9/28/10', format='%m/%d/%y') - pd.to_datetime('8/2/10',format='%m/%d/%y')

Timedelta('57 days 00:00:00')

In [5]:
df.columns[df.isnull().any()]

Index(['date_first_booking', 'age', 'first_affiliate_tracked'], dtype='object')

In [6]:
df['age'].describe()

count    125461.000000
mean         49.668335
std         155.666612
min           1.000000
25%          28.000000
50%          34.000000
75%          43.000000
max        2014.000000
Name: age, dtype: float64

In [7]:
df['age'].median()

34.0

In [8]:
df.age = df.age.fillna(df['age'].median())

In [18]:

df=df.drop('timestamp_first_active', axis=1).reset_index()

In [19]:
df.columns

Index(['index', 'id', 'date_account_created', 'date_first_booking', 'gender',
       'age', 'signup_method', 'signup_flow', 'language', 'affiliate_channel',
       'affiliate_provider', 'first_affiliate_tracked', 'signup_app',
       'first_device_type', 'first_browser', 'country_destination'],
      dtype='object')

In [20]:
df=df.drop('index', axis=1)

In [21]:
df['gender'].value_counts()

-unknown-    95688
FEMALE       63041
MALE         54440
OTHER          282
Name: gender, dtype: int64