In [1]:
import numpy as np
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
#Let's analyze the test set

df_test = pd.read_csv('/Users/chidam/Desktop/santander_test_ver2.csv')

/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_test.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
0,2016-06-28,15889,F,ES,V,56,1995-01-16,0,256,1,...,N,N,KAT,N,1,28.0,MADRID,1,326124.90,01 - TOP
1,2016-06-28,1170544,N,ES,H,36,2013-08-28,0,34,1,...,N,NaN,KAT,N,1,3.0,ALICANTE,0,NA,02 - PARTICULARES
2,2016-06-28,1170545,N,ES,V,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,15.0,"CORUÑA, A",1,NA,03 - UNIVERSITARIO
3,2016-06-28,1170547,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,8.0,BARCELONA,0,148402.98,03 - UNIVERSITARIO
4,2016-06-28,1170548,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,7.0,"BALEARS, ILLES",0,106885.80,03 - UNIVERSITARIO

In [4]:
total number of records in the dataset
len(df_test)

929615

In [5]:
'2016-06-28' is the month we are trying to predict for
df_test["fecha_dato"].unique()

array(['2016-06-28'], dtype=object)

In [6]:

df_test.groupby('ncodpers')['tiprel_1mes'].count()

ncodpers
15889      1
15890      1
15892      1
15893      1
15894      1
          ..
1553685    1
1553686    1
1553687    1
1553688    1
1553689    1
Name: tiprel_1mes, Length: 929615, dtype: int64

In [7]:
#looks like every customer has a single record

len(df_test.groupby('ncodpers'))

929615

In [8]:
df_test.isnull().sum()

fecha_dato                    0
ncodpers                      0
ind_empleado                  0
pais_residencia               0
sexo                          5
age                           0
fecha_alta                    0
ind_nuevo                     0
antiguedad                    0
indrel                        0
ult_fec_cli_1t           927932
indrel_1mes                  23
tiprel_1mes                  23
indresi                       0
indext                        0
conyuemp                 929511
canal_entrada              2081
indfall                       0
tipodom                       0
cod_prov                   3996
nomprov                    3996
ind_actividad_cliente         0
renta                         0
segmento                   2248
dtype: int64

In [9]:
df_test.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento'],
      dtype='object')

In [10]:
len(df_test.columns)

24

In [11]:
df_test['ncodpers'].unique()

array([  15889, 1170544, 1170545, ...,  660240,  660243,  660248])

In [12]:
df_test['ncodpers'].to_csv('/Users/chidam/Desktop/test_set_customercode.csv')

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [13]:
# reading train set to check whether the customer code in test set is in the train set
df_train = pd.read_csv('/Users/chidam/Desktop/santander_train_ver2.csv')

/usr/local/Cellar/ipython/7.8.0/libexec/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
# common_rows=df_test.join(df_train, how='inner', on='idxkey')

dfcommon= pd.merge(df_test[['ncodpers','sexo']],df_train[['ncodpers','sexo']],on='ncodpers', how='inner')

In [17]:
dfcommon.head()

   ncodpers sexo_x sexo_y
0     15889      V      V
1     15889      V      V
2     15889      V      V
3     15889      V      V
4     15889      V      V

In [18]:
#this confirms that the customer codes available in the test set also present in the train set.

len(dfcommon['ncodpers'].unique())

929615